@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}



/* shared styles */
.display-flex{
    display: flex;
  }

  /* dark02 */
.text-gray{
    color: #424242;
  }

  /* dark03 */
.text-light-gray{
    color: #727272;
  }

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 1.25rem;
  }
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  section{
    margin-top: 110px;
  }
  .section-title{
    color: rgba(19, 19, 19, 1);
    font-weight: bold;
    font-size: 2.5rem;
  }




  
 



  /* navbar related style */

  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  .brand{
    font-weight: bold;
     font-size: 2.8rem; /* 16px=1rem; so, 45=2.8rem or almost 3rem rem use korle different size er device e auto size hoi*/
     
  }
  .nav-item{
    list-style: none;  
    margin-left: 30px;
  }

  .nav-link{
    text-decoration: none;  
    font-weight: 500;
  }

  .navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
  }

  /* banner styles */

  .banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 3.5rem;
  }
  .banner-img{
    /* max-width: 1140px;
    margin: 0 auto; */
    width: 100%;
  }

  /* teams design */
  .teams{
    align-items: center;
    gap: 50px;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .team-img{
    width: 300px;
    height: 300px;
  }
  .team-featchure{
    max-width: 450px;
  }

  #Quick{
    font-weight: 500;
    font-size: 2.5rem;
  }
  #Features{
    color: rgba(255, 144, 14, 1);
    font-weight: bold;
    font-size: 2.5rem;
  }


  /* facts cards style */
  .fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 200px;
    height: 200px;  /*hight , width disi jate gap dite na hoi karon gap dile onno divice like 1440px na hoye 1850px er divice e abr different lagbe dekte tai card gular e hight,width set kore disi
     */
     border-radius: 8px;
     text-align: center;
     align-items: center;
     justify-content: center;
  }
  .fact-number{
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .fact-name{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .facts-des{
    width: 450px;
  }


  /* sponsors styles */
  .sponsor-info{
    max-width: 550px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsor-companys img{
    filter: grayscale(100%);
  }
  .sponsor-title{
    margin: 0 auto;
    margin-bottom: 20px;
  }



  @media screen and (max-width: 576px) {
    .navbar,
    .nav-links, 
    .teams{
         flex-direction: column ;                  
    }  

    .team-img-container {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
      }
    .facts-container , .sponsor-companys{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
      }
 }